body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Preto */
    color: #ff69b4; /* Rosa */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-container.hidden {
    display: none;
}

#calculator {
    background-color: #ff69b4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.2); /* Rosa */
    color: #000;
    text-align: left; /* Alinhado à esquerda */
    max-width: 400px; /* Largura máxima */
    width: 100%; /* 100% da largura disponível */
}

#numeros label {
    display: block;
    margin-bottom: 10px;
}

#numeros input {
    width: calc(100% - 10px); /* Leva em consideração o padding de 5px em ambos os lados */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ff1493;
    color: #000;
    border-radius: 5px;
}

#botoes {
    display: flex;
    justify-content: space-between;
}

#botoes button {
    flex: 1; /* Ocupa o espaço igualmente */
    background-color: #000;
    color: #ff69b4;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

#botoes button:hover {
    background-color: #220c17;
}

#resultado {
    background-color: #ff69b4; /* Rosa */
    color: #fff; /* Branco */
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-top: 20px; /* Margem superior */
}

