header,main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

#lamp {
    width: 200px;
    height: auto;
}
